/* BASIC */

*{
  box-sizing: border-box;
}
html{
  background: #d4d4d4;
  font-family: 'Roboto', sans-serif;
}

.container{
  margin: 1.2em 7em;

}

.informative{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 1.5px solid black;
  border-radius: 5px;
  background-color: #e8e8e8;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2336aab1' fill-opacity='0.38' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  padding: .5em;
}
.informative .info-icon{
  width: 5%;
  align-items: center;
  background: url(./images/information.png) center no-repeat;
  color: transparent;
}
.informative .info-text{
  width: 95%;
  margin: .5em;
  font-weight: 300;
  font-size: 14px;
}
.info-text a{
  color: #509ba5;
  text-decoration: none;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1.3rem;
  margin: 1.5em;
}

/* COMPANY CARDS */

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.company-card{
  max-height: 24em;
  max-width: 15em;
  color: rgb(255, 255, 255);
  border: .1em solid rgb(95, 95, 95, .5);
  background: #1b1b1b;
  border-radius: .3em;
  box-shadow: 3px 3px 5px 2px black, -2px -2px 8px 2px wheat;
  /* margin: 1em; */
}

.company-header{
  width: 100%;
  height: 2em;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-name{
  margin: 0 0 0 .5em;
}

.company-name a {
  color: #fff;
  text-decoration: none;
  border: 1px solid #509ba5;
  padding: .1em .2em;
  background: rgba(63, 150, 150, 0.5);
}

.company-country img{
  height: 26px;
  margin: 0 .5em 0 0;
}

.company-content{
  display: block;
  margin: 1em 0;
}

.company-avatar img{
  width: 75%;
  border-radius: 50%;
  margin: 0 1.5em 1em 1.5em;
  
}

.company-imports{
  padding: 1em .5em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.company-exports{
  padding: 1em .5em;
}

/* COMPANY INFO */

.company-info-container{
  /* width: 100vw; */
  display: flex;
  margin: 5em 0;
  background: #1b1b1b;
  border: 1px dotted #1a1a1a;
  border-radius: .3em;
  color: azure;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.company-info-header{
  width: 40%;
  border-right: 1px solid black;
  justify-content: center;
  align-items: center;
}
.company-info-header-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(90, 90, 90);
  padding: 1em .5em;
  border-bottom: 1px dotted #1a1a1a;
  border-radius: 35% 35% 0 0;
  overflow: hidden;
}

.company-info-name h1{
  font-size: 10px;
  text-transform: uppercase;

}
.company-info-avatar img{
  height: 3em;
  border-radius: 50%;
}

.info-contact-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  font-size: 12px;
  border-bottom: 1px dotted #1a1a1a;
  border-radius: 0 0 1em 1em;
  background: rgb(90, 90, 90);
  overflow: hidden;
}
.info-contact-main img{
  height: 16px;
  padding-left: 1em;
}

.company-info-contact{
  display: inline-block;
  align-items: center;
  width: 100%;
}


.company-type-main{
  width: 60%;
  height: 35%;
  display: inline-block;
  padding: 0 .5em;
}

.info-business-type{
  border-bottom: 1px solid white;
  padding: .5em .5em;
}

.info-products{
  border-top: 1px solid white;
  padding: 0 .5em;
  display: flex;
  justify-content: space-between;
}
.import-type{
  width: 50%;
  align-items: center;
}
.export-type{
  width: 50%;
  border-left: 1px solid black;
  padding-left: .5em;
  align-items: center;
}

.resources-data {
  height: 3em;
  border-radius: 50%;
  background: #424242 ;
  margin: 0 .2em;
}